<script setup lang="ts"></script>

<template>
  <v-card class="mx-auto" max-width="400" variant="outlined">
    <v-img src="..\src\img\me.jpg" height="300px"></v-img>
    <v-card-item>
      <v-container>
        <div
          style="
            text-align: center;
            font-family: 'Franklin Gothic Medium';
            font-size: 25px;
          "
        >
          My Portfolio
        </div>
        <br />
        <v-row>
          <v-col>
            <v-table>
              <tr>
                <th>ชื่อ-นามสกุล:</th>
              </tr>
              <td>ญาดา สุขวิพัฒน์</td>

              <tr>
                <th>ประวัติการศึกษา</th>
              </tr>
              <tr>
                โรงเรียนพัทธยาอรุโณทัย
              </tr>
              <tr>
                โรงเรียนปากอูนผดุงวิทย์
              </tr>
              <tr>
                โรงเรียนเซนต์ปอลคอนแวนต์
              </tr>
              <tr>
                โรงเรียนเมืองพัทยา 11 (มัธยมสาธิตพัทยา)
              </tr>

              <tr>
                <th>สิ่งที่สนใจ:</th>
              </tr>
              <td>ภาษา,การเงิน</td>
            </v-table>
          </v-col>
        </v-row>
      </v-container>
    </v-card-item>
  </v-card>
</template>
